
/* #region ################################## BUTTON SECTION ################################## */

/* #region ========== BUTTON SETTING ========== */
:root {
    /* #region GLOBAL VARIABLE */
    --cr-transition: all .25s ease;
    /* #endregion */

    /* #region BUTTON VARIABLE */
    --cr-btn-txt: #ffffff;
    --cr-btn-txt-dark: #121212;
    --cr-btn-txt-size: 1rem;
    --cr-btn-txt-weight: 400;
    --cr-btn-min-max-height: 38px;
    --cr-btn-min-max-height-mini: 29px;
    --cr-btn-min-max-height-big: 48px;
    --cr-btn-txt-transform: capitalize;
    --cr-btn-padding: .4rem .65rem;
    --cr-btn-padding-mini: .3rem .55rem;
    --cr-btn-padding-big: .5rem .75rem;
    --cr-btn-icon-padding: .25rem;
    --cr-btn-border: 1px solid;
    --cr-btn-radius: .35rem;
    
    --cr-btn-txt-default: var(--btn-custom-color);
    --cr-btn-default: var(--btn-custom-bg-color);
    --cr-btn-default-hover: var(--btn-custom-bg-color-hover);
    --cr-btn-default-focus: var(--btn-custom-bg-color-focus);
    
    --cr-btn-primary: #1C64F2;
    --cr-btn-primary-hover: #0d56e5;
    --cr-btn-primary-focus: #0d55e550;

    --cr-btn-success: #4caf50;
    --cr-btn-success-hover: #449d48;
    --cr-btn-success-focus: #449d4850;

    --cr-btn-danger: #f44336;
    --cr-btn-danger-hover: #f22819;
    --cr-btn-danger-focus: #f2271950;

    --cr-btn-warning: #f4ae0e;
    --cr-btn-warning-hover: #de9d0a;
    --cr-btn-warning-focus: #de9e0a50;
    /* #endregion */
}

/* #region ========== DEFAULT CLASS BUTTON ========== */
.cr-btn {
    color: var(--cr-btn-txt);
    font-size: var(--cr-btn-txt-size);
    font-weight: var(--cr-btn-txt-weight);
    text-transform: var(--cr-btn-txt-transform);
    min-height: var(--cr-btn-min-max-height);
    max-height: var(--cr-btn-min-max-height);
    padding: var(--cr-btn-padding);
    border: var(--cr-btn-border);
    border-radius: var(--cr-btn-radius);
    transition: var(--cr-transition);

    display: inline-block;
    line-height: 1.5;
    text-decoration: none;
    vertical-align: middle;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    user-select: none;
}

.cr-btn.cr-mini {
    min-height: var(--cr-btn-min-max-height-mini);
    max-height: var(--cr-btn-min-max-height-mini);
    font-size: .75rem;
    padding: var(--cr-btn-padding-mini);
}
.cr-btn.cr-big {
    min-height: var(--cr-btn-min-max-height-big);
    max-height: var(--cr-btn-min-max-height-big);
    font-size: 1.25rem;
    padding: var(--cr-btn-padding-big);
}
.cr-btn.cr-full {
    width: 100%;
}

.cr-btn.cr-flex {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.cr-btn.cr-icon {
    aspect-ratio: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: var(--cr-btn-icon-padding);
}

.cr-btn:disabled {
    opacity: .75;
    filter: grayscale(.75);
    pointer-events: none;
}
/* #endregion */
/* #endregion */

/* #region ========== BUTTON DEFAULT (CUSTOM USER) ========== */
.cr-default {
    color: var(--cr-btn-txt-default);
    background-color: var(--cr-btn-default);
    border-color: var(--cr-btn-default);
}
.cr-default:is(:hover, :focus) {
    background-color: var(--cr-btn-default-hover);
    border-color: var(--cr-btn-default-hover);
}
.cr-outline-default {
    color: var(--cr-btn-default);
    border-color: var(--cr-btn-default);
}
.cr-outline-default:is(:hover, :focus) {
    color: var(--cr-btn-txt-default);
    background-color: var(--cr-btn-default-hover);
    border-color: var(--cr-btn-default-hover);
}
:is(.cr-default, .cr-outline-default):focus {
    box-shadow: 0 0 0 4px var(--cr-btn-default-focus);
}
/* #endregion */

/* #region ========== BUTTON PRIMARY ========== */
.cr-primary {
    background-color: var(--cr-btn-primary);
    border-color: var(--cr-btn-primary);
}
.cr-primary:is(:hover, :focus) {
    background-color: var(--cr-btn-primary-hover);
    border-color: var(--cr-btn-primary-hover);
}
.cr-outline-primary {
    color: var(--cr-btn-primary);
    border-color: var(--cr-btn-primary);
}
.cr-outline-primary:is(:hover, :focus) {
    color: var(--cr-btn-txt);
    background-color: var(--cr-btn-primary-hover);
    border-color: var(--cr-btn-primary-hover);
}
:is(.cr-primary, .cr-outline-primary):focus {
    box-shadow: 0 0 0 4px var(--cr-btn-primary-focus);
}
/* #endregion */

/* #region ========== BUTTON SUCCESS ========== */
.cr-success {
    background-color: var(--cr-btn-success);
    border-color: var(--cr-btn-success);
}
.cr-success:is(:hover, :focus) {
    background-color: var(--cr-btn-success-hover);
    border-color: var(--cr-btn-success-hover);
}
.cr-outline-success {
    color: var(--cr-btn-success);
    border-color: var(--cr-btn-success);
}
.cr-outline-success:is(:hover, :focus) {
    color: var(--cr-btn-txt);
    background-color: var(--cr-btn-success-hover);
    border-color: var(--cr-btn-success-hover);
}
:is(.cr-success, .cr-outline-success):focus {
    box-shadow: 0 0 0 4px var(--cr-btn-success-focus);
}
/* #endregion */

/* #region ========== BUTTON DANGER ========== */
.cr-danger {
    background-color: var(--cr-btn-danger);
    border-color: var(--cr-btn-danger);
}
.cr-danger:is(:hover, :focus) {
    background-color: var(--cr-btn-danger-hover);
    border-color: var(--cr-btn-danger-hover);
}
.cr-outline-danger {
    color: var(--cr-btn-danger);
    border-color: var(--cr-btn-danger);
}
.cr-outline-danger:is(:hover, :focus) {
    color: var(--cr-btn-txt);
    background-color: var(--cr-btn-danger-hover);
    border-color: var(--cr-btn-danger-hover);
}
:is(.cr-danger, .cr-outline-danger):focus {
    box-shadow: 0 0 0 4px var(--cr-btn-danger-focus);
}
/* #endregion */

/* #region ========== BUTTON WARNING ========== */
.cr-warning {
    color: var(--cr-btn-txt-dark);
    background-color: var(--cr-btn-warning);
    border-color: var(--cr-btn-warning);
}
.cr-warning:is(:hover, :focus) {
    background-color: var(--cr-btn-warning-hover);
    border-color: var(--cr-btn-warning-hover);
}
.cr-outline-warning {
    color: var(--cr-btn-warning);
    border-color: var(--cr-btn-warning);
}
.cr-outline-warning:is(:hover, :focus) {
    color: var(--cr-btn-txt-dark);
    background-color: var(--cr-btn-warning-hover);
    border-color: var(--cr-btn-warning-hover);
}
:is(.cr-warning, .cr-outline-warning):focus {
    box-shadow: 0 0 0 4px var(--cr-btn-warning-focus);
}
/* #endregion */

/* #endregion ################################## BUTTON SECTION END ################################## */













/* ################# INPUT SECTION ################# */

/* #region ========== XXXXX ========== */
:root {
    --formGroupMargin: 1.25rem;
    --formGroupLabelSize: .85rem;
    --formGroupLabelWeight: 600;
    --inputTxt: #000000;
    --inputTxtSize: 1rem;
    --inputBackground: #fff;
    --inputRadius: .5rem;
    --inputBorderColor: #e1e1e1;
    --inputBox: #f4433650;
}
/* #endregion */

.it2Input,
.it2Select {
    display: block;
    width: 100%;
    font-size: var(--inputTxtSize);
    font-weight: 400;
    line-height: 1.5;
    padding: .4rem .75rem;
    margin: 0;
    color: var(--inputTxt);
    background-color: var(--inputBackground);
    border: 1px solid var(--inputBorderColor);
    border-radius: var(--inputRadius);
    transition: all .25s ease-in-out;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.it2Select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M2 5l6 6 6-6' fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    cursor: pointer;
}
:is(.it2Input, .it2Select):focus {
    box-shadow: 0 0 0 4px var(--inputBox);
}
.it2Input::placeholder {
    color: #A6A6A6;
    user-select: none;
}

.it2FormGroup {
    margin-bottom: var(--formGroupMargin);
}
.it2Label {
    display: block;
    color: dimgrey;
    font-size: var(--formGroupLabelSize);
    font-weight: var(--formGroupLabelWeight);
    margin-bottom: .25rem;
    user-select: none;
}
.it2InputGroup {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    height: 39px;
}
.it2InputGroup .it2IconInput {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 .5rem;
    color: var(--txtDark);
    background-color: #fff;
    border: 1px solid var(--inputBorderColor);
    border-right: 0;
    border-radius: var(--inputRadius) 0 0 var(--inputRadius);
    transition: all .25s ease-in-out;
    user-select: none;
}
.it2InputGroup .it2Icon {
    width: 20px;
    height: 20px;
}
.it2InputGroup :is(.it2Input, .it2Select) {
    height: 100%;
}
.it2InputGroup .it2Input:is(:focus, :not(:placeholder-shown)) + .it2IconInput,
.it2InputGroup .it2Select:focus + .it2IconInput {
    color: #fff;
    background-color: var(--primer);
    border-color: var(--primer);
}
.it2InputGroup.it2Phill .it2IconInput {
    border-top-left-radius: var(--phillRadius);
    border-bottom-left-radius: var(--phillRadius);
}
.it2InputGroup :is(.it2Input, .it2Select) {
    flex: 1;
    border-left: none;
    border-radius: 0 var(--inputRadius) var(--inputRadius) 0; 
}
.it2InputGroup.it2Phill :is(.it2Input, .it2Select) {
    border-top-right-radius: var(--phillRadius);
    border-bottom-right-radius: var(--phillRadius);
}

/* ################# INPUT SECTION END ################# */