

body {
    padding: 3rem;
    background-color: #fff;
}
.group {
    margin-bottom: 2rem;
}
.grid {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    align-items: flex-end;
    gap: 1.5rem;
    margin-bottom: .75rem;
}
hr {
    margin-top: 1.75rem;
    margin-bottom: 2.5rem;
    border-top: 2px dashed;
}
