
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--cr-border);

    h2 {
        margin: 0;
    }
}
.content {
    flex: 1;
    padding: 2rem;
    overflow: hidden auto;
}

.group {
    margin-bottom: 2rem;
}
.grid {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    align-items: flex-end;
    gap: 1.5rem;
    margin-bottom: .75rem;
}
hr {
    margin-top: 1.75rem;
    margin-bottom: 2.5rem;
    border: none;
    border-top: 1px dashed;
}
